<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>IOSC | Innovative Option Service Cooperative</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Oswald&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="/scripts/jquery-3.4.1.js"></script>
</head>
<body>
    <nav id="nav" class="navbar navbar-expand-md navbar-light fixed-top" style="padding: 20px 0;">
        <div class="container">
        <a class="navbar-brand" style="padding: 0; margin-right: 0;" href="/"><img src="/images/logo/Favicon.png" width="60" height="40"></a>
            <span class="navbar-text text-white text-justify" style="padding: 0;margin: 0;font-size: 2.5em;height: 1em;line-height: 1em;">IOSC</span>

        <button class="navbar-toggler ml-auto" style="border-color: white;" data-toggle="collapse" data-target="#collapse_target">
            <i class="fa fa-bars" style="color:white"></i>
        </button>

        <div class="collapse navbar-collapse text-center justify-content-end" id="collapse_target">
            <ul class="navbar-nav">
                <% if (!currentUser) { %>
                    <li class="nav-item">
                        <a class="nav-link text-light" id="nav" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" id="nav" href="#about">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" id="nav" href="#">Our Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" id="nav" href="#">Contact Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" id="nav" href="/login">Log-In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" id="nav" href="/register">Register</a>
                    </li>
                <% }else{ %>
                    <li class="nav-item">
                        <a class="nav-link text-light" id="nav" href="/employee/profile/<%=currentUser._id%>">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" id="nav" href="/employee/dashboard">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" id="nav" href="/logout">Log-Out</a>
                    </li>
                <% } %>
            </ul>
        </div>
        </div>
    </nav>
