<%-include('./partials/r-header.ejs')%>

<div class="container">
    <div class="jumbotron jumbotron-fluid" style="background-color: transparent; margin: 0;">
     <div class="container intro-text">
            <h1 class="font-weight-bold text-center intro-heading">Welcome ! <%=currentUser.firstname%></h1>
     </div>
    </div>
</div>


<%-include('./partials/r-footer.ejs')%>